<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <div>
            <img id="profile-gravatar" src="https://www.gravatar.com/avatar/<%= hash %>?s=200&r=pg&d=identicon" />
        </div>
        <h4>Username: <%= user.username %></h4>
        <h4>Email: <%= user.email %></h4>
        <h1>Favorite Recipes</h1>
    </div>
</div>

<% include ../partials/footer %>

