<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Login!</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <input required class="form-control" type="text" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <input required class="form-control"type="password" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/">Back</a>
    </div>
</div>

<% include ../partials/footer %>