<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Edit Comment</h1>
        <form action="/recipes/<%= postId %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control"type="text" placeholder="Comment" name="text" value="<%= comment.text %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/recipes/<%= postId %>">Back</a>
    </div>
</div>

<% include ../partials/footer %>