body {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    margin-top: 3em;
    padding: 5px;
    text-align: center;
}

.card {
    margin-top: 2em;
    /* height: 450px; */
    transition-delay: 250ms;
    animation: fallDown 0.83s 1 0s linear;
    border: none;
}

/* .card:hover {
    background-color: #240b36;
    color: white;
} */

#display-image {
    position: relative;
    width:  100%;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: auto;
}

.img-thumbnail {
    height: 10%;
    width: 50%;
    opacity: 1;
}

/* .inline-input {
    text-align: center;
} */

.show-col-right {
   float: right;
}

.show-col-left {
    margin-top: 3em;
}

.navbar {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #fff;
    z-index: 3;
    box-shadow: 0 2px 6px 2px rgba(0,0,0,.08);
    box-sizing: border-box;
}

#gravatar {
    border-radius: 50%;
    height: 40px;
}

#profile-gravatar {
    border-radius: 50%;
    height: 200px;
}

#form-title, #form-cost {
    display: inline-block;
}

.delete {
    display: inline;
}



@keyframes fallDown{
    0%{
        transform: translateY(-20%);
        opacity: 0;
        }
    50%{
        transform: translateY(-10%);
        opacity: 0.5;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}