<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Edit <%= post.name %></h1>
        <form action="/recipes/<%= post._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" name="name" value="<%= post.name %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" value="<%= post.price %>" name="price" min="0.01" step="0.01">
            </div>
            <div class="form-group">
                <input class="form-control"type="text" placeholder="Description" name="description" value="<%= post.description %>">
            </div>
            <div class="form-group">
                <input class="form-control"type="text" placeholder="Image URL" name="image" value="<%= post.image %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/">Back</a>
    </div>
</div>

<% include ../partials/footer %>
