<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Add a new recipe</h1>
        <form action="/recipes" method="POST">
            <div class="inline-input">
                <div class="form-group" id="form-title">
                    <input class="form-control" type="text" placeholder="Title" name="name">
                </div>
                <div class="form-group" id="form-cost">
                    <input class="form-control" type="text" placeholder="Cost of ingredients" name="price" min="0.01" step="0.01">
                </div>
            </div>
            <div class="form-group">
                <input class="form-control"type="text" placeholder="Image URL" name="image">
            </div>
            <div class="form-group">
                <input class="form-control"type="text" placeholder="Ingredients and instruction" name="description">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/">Back</a>
    </div>
</div>

<% include ../partials/footer %>


