<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Recipes!</h1>
        <p class="lead">Find awesome dishes and see what restaurants serve them.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/recipes/new" role="button">Add a new dish!</a>
    </div>

    <div class="row">
        <% recipes.forEach(function (camp) { %>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div id="display-image" class="card-img-top" style="background-image:url('<%= camp.image %>')" alt="Card image cap"></div>
                    <div class="card-body">
                        <h5 class="card-title"><%= camp.name %></h5>
                        <p class="card-text"><%= camp.description.substring(0, 100) %>...</p>
                        <a href="/recipes/<%= camp._id %>" class="btn btn-primary">Learn More!</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>


    
   
      
  