<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3 show-col-left">
            <p class="lead">Yelp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top img-responsive" src="<%= post.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= post.name %><span class="show-col-right">$<%= post.price %>/night</span></h5>
                    <p class="card-text"><%= post.description %></p>
                    <p><% for(var i = 0; i < 5; i++) { %>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    <% } %> 5 Stars
                    <span class="show-col-right"><%= post.comments.length %> Reviews</span></p>
                    <em><p>Submitted by <%= post.author.username %></p></em>
                    <% if (user && user.username === post.author.username) { %>
                        <a class="btn btn-warning" href="/recipes/<%= post._id %>/edit">Edit Post</a>
                        <form class="delete" action="/recipes/<%= post._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Post</button>
                        </form>
                    <% } %>
                    <% if (user && user.favorites.length > 0) { %>
                        <form class="delete" action="#" method="POST">
                            <button class="btn btn-danger">Remove favorite</button>
                        </form>
                    <% } else { %>
                        <form class="delete" action="/favorites/<%= post._id %>" method="POST">
                            <button class="btn btn-success">Add as favorite</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1 class="display-5">Leave a review</h1>
                    <form action="/recipes/<%= post._id %>/comments" method="POST">
                        <div class="form-group">
                            <input class="form-control"type="text" placeholder="Comment" name="text">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="container">
                    <% post.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong><%= comment.author.username %></strong> <i class="fa fa-star" aria-hidden="true"></i><span class="show-col-right">10 days ago</span></p>
                                <p><%= comment.text %></p>
                                <% if (user && user.username === comment.author.username) { %>
                                    <a class="btn btn-warning" href="/recipes/<%= post._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form class="delete" action="/recipes/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">Delete Post</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

